<ion-view view-title="Login"
          hide-back-button="true" >
	<ion-content padding="true"
	             scroll="false" >

		<!-- Form with floating labels -->
		<form ng-submit="login(loginForm)" name="loginForm" novalidate="novalidate">
			<ion-list >
				<label class="item item-input item-floating-label" ng-class="{'has-error': loginForm.email.$invalid}">
					<span class="input-label" >Email {{loginForm.email.$invalid}}</span >
					<input type="email"
					       placeholder="Email"
					       ng-model="formData.email" name="email" ng-required="true">
				</label >
				<label class="item item-input item-floating-label" >
					<span class="input-label" >Password</span >
					<input type="password"
					       placeholder="Password"
					       ng-model="formData.password" name="password" ng-required="true">
				</label >
			</ion-list >
			<button class="button button-dark button-block"
			        type="submit" >Login
			</button >
		</form >
		<p class="text-center" >
			Don't have an account?
			<a nav-direction="enter"
			   ui-sref="signup" >Sign Up
			</a >
		</p >

	</ion-content >
</ion-view >
