<!-- Standard -->

<ion-view view-title="Signup"
          hide-back-button="true" >
	<ion-content padding="true"
	             scroll="false" >

		<!-- Form with floating labels -->
		<form name="signupForm"
		      novalidate="novalidate"
		      ng-submit="signup(signupForm)" >
			<ion-list >

				<label class="item item-input item-floating-label"
				       ng-class="{'has-error':signupForm.name.$invalid}" >
					<span class="input-label" >Name</span >
					<input type="text"
					       placeholder="Name"
					       name="name"
					       ng-model="formData.name"
					       ng-required="true" >
				</label >
        <div class="form-errors"
             ng-messages="signupForm.name.$error" ng-show="signupForm.name.$error && signupForm.name.$dirty">
          <div ng-messages-include="templates/form-errors.html"></div>
        </div>

				<label class="item item-input item-floating-label"
				       ng-class="{'has-error':signupForm.email.$invalid}" >
					<span class="input-label" >Email</span >
					<input type="email"
					       placeholder="Email"
					       name="email"
					       ng-model="formData.email"
					       ng-required="true" >
				</label >
        <div class="form-errors" ng-messages="signupForm.email.$error" ng-show="signupForm.email.$error && signupForm.email.$dirty">
          <div ng-messages-include="templates/form-errors.html"></div>
        </div>


				<label class="item item-input item-floating-label"
				       ng-class="{'has-error':signupForm.password.$invalid}" >
					<span class="input-label" >Password</span >
					<input type="password"
					       placeholder="Password"
					       name="password"
					       ng-model="formData.password"
					       ng-required="true"
					       ng-minlength="6" >
				</label >
        <div class="form-errors"
             ng-messages="signupForm.password.$error" ng-show="signupForm.password.$error && signupForm.password.$dirty">
          <div ng-messages-include="templates/form-errors.html"></div>
          <div class="form-error"
               ng-message="minlength" >Password too short
          </div >
        </div>


			</ion-list >
			<button class="button button-dark button-block"
			        type="submit" >Sign up
			</button >
		</form >

		<p class="text-center" >
			Already have an account?
			<a nav-direction="exit"
			   ui-sref="login" >Login
			</a >
		</p >

	</ion-content >
</ion-view >
