<ion-tabs class="tabs-icon-top tabs-background-balanced tabs-color-light" >

	<ion-tab title="Meals"
	         icon-off="ion-ios-list-outline"
	         icon-on="ion-ios-list"
	         ui-sref="tab.meals" >
		<ion-nav-view name="tab-meals" ></ion-nav-view >
	</ion-tab >

	<ion-tab title="Track"
	         icon-off="ion-ios-camera-outline"
	         icon-on="ion-ios-camera"
	         ui-sref="tab.track" >
		<ion-nav-view name="tab-track" ></ion-nav-view >
	</ion-tab >

	<ion-tab title="Account"
	         icon-off="ion-ios-gear-outline"
	         icon-on="ion-ios-gear"
	         ui-sref="tab.account" >
		<ion-nav-view name="tab-account" ></ion-nav-view >
	</ion-tab >

</ion-tabs >
